h1 {
	text-shadow: 0px 1px 0.5px #666;
	font-size: 28px;
	font-weight: normal;
	font-family: "Tahoma", sans-serif;
	clear:both;
    color: #000; 
	padding-top: 14px;
    padding-bottom: 15px;
	margin-left:70px;
	margin-bottom: 40px;
	border-bottom:1px solid black;
}

body {
   	top: auto;
	font-family: "Tahoma", sans-serif;
 	background-image:url('../img/385.gif');
	background-color: #e0e0e0;
	line-height: 24px;
}

table {
	width:90%;
	margin-left:5%;
	padding: 10px;
	background-color: #d1d1d1;
	border-radius: 8px 8px 8px 8px;
}

td, th {
	letter-spacing: 1px;
/*	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
	border-top: 1px solid #fff;*/
	border-radius: 4px 4px 4px 4px;
}

td {
	font-family: "Tahoma", sans-serif;
	color: #000;
	background-color: #d1d1d1;
	padding: 2px 2px 6px 12px;
}

th {
	font-family: "Tahoma", sans-serif;
	color: black;
	text-align: left;
	padding: 6px 6px 6px 12px;
	background: #9b9ba3;
}

img {
	margin-top: 5px;
}

#companyLogo {
	margin-top: 1px;
	width:10%;
	height:10%; 
}

#Menu_Home{
    background-color: #010101;
	border-radius: 0px 22px 22px 0px ;
	padding:10px 0px 10px 0px;
    margin-left: -150px;
	position:fixed;
    height: 100%;
}

#botao_home {
	margin-left:130px;
	position:absolute;
	background-color: #010101;
	display:block;
	padding:10px 10px 10px 20px;
	border-radius: 0px 22px 22px 0px ;
}

#botaoCadastrar{
	 margin:-20px;
	 float: right;
	 padding:5px 5px;
	 margin-right: 5px;
	 text-decoration:none;
	 display: inline-block;
 	 padding: 15px 15px;
  	 font-family: "Tahoma", sans-serif;
  	 border:1px solid #d0d0d0;
  	 border-top-color:#ececec;
  	 border-bottom-color:#909090;
  	 color:#333;
	 background: -moz-linear-gradient(top, #fff 60%, #e7e7e7);
  	 background: -webkit-linear-gradient(top, #fff 60%, #e7e7e7);
  	 border-radius: 10px 10px 10px 10px;
}

