.submit input{
	float: left;
	margin-left: 13%;
	margin-right: 5%;
	margin-left: 5%;
	width: 40%;
	height: 40px;
	border: none;
	font-family: "Tahoma", sans-serif;
	font-size: 20px;
	border-radius: 4px 4px 4px 4px;
}

#botaoRestaurar {
	margin-top: 3.7px;
	margin-left: 5%;
	width: 40%;
	height: 40px;
	border: none;
	font-family: "Tahoma", sans-serif;
	font-size: 20px;
	border-radius: 4px 4px 4px 4px;
}

fieldset{
	padding-left: 20px;
	padding-right: 20px;
	margin-bottom: 30px;
	border-width: 30px;
	font-size: 14px;
	color: black;
	width: 90%;
	border: 30px;
	border-color: #FFFFFF;
	background-color: #d1d1d1;
	border-radius: 8px 8px 8px 8px;
}

input, select{
	width: 100%;
	height: 25px;
	border: none;
	font-family: "Tahoma", sans-serif;
	font-size: 14px;
	margin: 0.2em;
	border-radius: 4px 4px 4px 4px;
	/*-webkit-box-shadow: 0 0 7px rgba(51, 204, 255, 0.5);
	-moz-box-shadow: 0 0 7px rgba(51, 204, 255, 0.5);
	box-shadow: 0 0 7px rgba(51, 204, 255, 0.5);*/
}

legend{
	font-size: 22px;
}



div.left {
	float: left;
	margin-left: 10%;
	width: 45%;
	position:absolute;
}

div.right {
	float: right;
	width: 45%;
}



h1 {
	text-shadow: 0px 1px 0.5px #666;
	font-size: 28px;
	font-weight: normal;
	font-family: "Tahoma", sans-serif;
	clear:both;
    color: #000; 
	padding-top: 14px;
    padding-bottom: 15px;
	margin-left:70px;
	margin-bottom: 40px;
	border-bottom:1px solid black;
}

body {
   	top: auto;
	font-family: "Tahoma", sans-serif;
 	background-image:url('../img/385.gif');
	background-color: #e0e0e0;
	line-height: 24px;
}

table {
	width:90%;
	margin-left:5%;
	padding: 10px;
	background-color: #d1d1d1;
	border-radius: 8px 8px 8px 8px;
}

td, th {
	letter-spacing: 1px;
/*	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
	border-top: 1px solid #fff;*/
	border-radius: 4px 4px 4px 4px;
}

td {
	font-family: "Tahoma", sans-serif;
	color: #000;
	background-color: #d1d1d1;
	padding: 2px 2px 6px 12px;
}

th {
	font-family: "Tahoma", sans-serif;
	color: black;
	text-align: left;
	padding: 6px 6px 6px 12px;
	background: #9b9ba3;
}

img {
	margin-top: 5px;
}

#companyLogo {
	margin-top: 1px;
	width:10%;
	height:10%; 
	margin-bottom: -30px;
}

#botaoCadastrar{
	 margin:-20px;
	 float: right;
	 padding:5px 5px;
	 margin-right: 5px;
	 text-decoration:none;
	 display: inline-block;
 	 padding: 15px 15px;
  	 font-family: "Tahoma", sans-serif;
  	 border:1px solid #d0d0d0;
  	 border-top-color:#ececec;
  	 border-bottom-color:#909090;
  	 color:#333;
	 background: -moz-linear-gradient(top, #fff 60%, #e7e7e7);
  	 background: -webkit-linear-gradient(top, #fff 60%, #e7e7e7);
  	 border-radius: 10px 10px 10px 10px;
}

#botao_buscaCEP {
	width: 130;
	height: 30;
}

p {
	color: black;
	font: 16px "Trebuchet MS", Verdana, Arial, Helvetica,
	sans-serif;
}


div.dadosEmpresa, div.dadosEndereco, div.dadosSponsor, div.dadosFinancial, div.dadosSepg, div.dadosProjeto, div.dadosHoras {
	padding-left: 20px;
	padding-right: 20px;
	margin-bottom: 30px;
	border-width: 30px;
	font-size: 14px;
	color: black;
	width: 90%;
	border: 30px;
	border-color: #FFFFFF;
	background-color: #d1d1d1;
	border-radius: 8px 8px 8px 8px;
}

#viewDadosProjeto {
	float: left;
	margin-right: 5%;
	margin-left: 10%;
	width: 30%;
}

#viewDadosHoras {
	float: right;
	margin-right: 15%;
	width: 30%;
}

div.dadosEmpresa {
	float: left;
	width: 25%;
	margin-left: 10%;
	padding: 20px;
}

div.dadosEndereco {
	margin-left: 40%;
	width: 50%;
	padding: 20px;
}

div.dadosSponsor, div.dadosFinancial, div.dadosSepg {
	margin-left: 25%;
	padding-right: 10px;
	padding-left: 30px;
	padding-top: 1px;
	padding-bottom: 4px;
	width: 65%;
}

#integranteDefault {
	margin-left: 10%;
	float: left;
	position: absolute;
}

#integranteDefault2 {
	margin-left: 10%;
	float: left;
	position: absolute;
}

#integranteDefault3 {
	margin-left: 10%;
	float: left;
	position: absolute;
}

#botaoEditar{
	 margin:-20px;
	 float: right;
	 padding:5px 5px;
	 margin-right: 5px;
	 text-decoration:none;
	 display: inline-block;
 	 padding: 15px 15px;
  	 font:normal 20px/1.1em arial;
  	 border:1px solid #d0d0d0;
  	 border-top-color:#ececec;
  	 border-bottom-color:#909090;
  	 color:#333;
  	 background: -moz-linear-gradient(top, #fff 60%, #e7e7e7);
  	 background: -webkit-linear-gradient(top, #fff 60%, #e7e7e7);
  	 -moz-border-radius: 10px;
  	 -webkit-border-radius: 10px;
  	 -khtml-border-radius: 10px;
  	 border-radius: 10px;
}



/* =======================
==========================
==== MENU PRINCIPAL ======
==========================
==========================*/
#Menu_Home{
	z-index:99999;
    background-color: #010101;
    width:500px;
	opacity:0.85;
	/*alterado*/
	padding:10px 0px 10px 0px;
    margin-left: -500px;
	position:fixed;
    height: 100%;
    border:2px solid #010101;
	/*end*/
}
#Menu_Home ul  {
	margin-top:10px;
	margin-left:0px;
	padding:0px;
}
#Menu_Home ul li{
	list-style:none;
	color:#FFF;
	opacity:1;
}
#Menu_Home ul li a{
	text-decoration:none;
	opacity:1 !important;
	color:#000;
	display:block;
	padding:20px 0px 20px 100px;
	margin-top:10px;
	font-size:26px;
	color:#FFF;
	
}
#Menu_Home ul li a:hover {
	background-color:#c3c3c3;
	color:black;
}

#botao_home {
	color:#c3c3c3;
	margin-left:-10px;
	text-decoration:none;
	font-size:40px;
	width:530px;
	background-color: #010101;
	display:block;
	padding:10px 10px 10px 20px;
	border-radius: 0px 22px 22px 0px ;
	-webkit-border-radius: 0px 22px 22px 0px ;
	-moz-border-radius: 0px 22px 22px 0px ;
	line-height: 50px;
	padding-left:40px;
}
#botao_home img{
	float: right;
}